<div class="text-center jumbotron">
    <h1>Welcome to the Group Trip application!</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Login now!", login_path, class: "btn btn-lg btn-primary" %>
</div>
